body {
    background: rgba(182, 246, 255, .8);
    text-align: justify;
    font-family: "poppins", "sans-serif";
}

#title {
    color: rgb(0, 168, 107);
    text-align: center;
    font-family: "exo 2", "sans-serif";
}
#title:hover{
    color: rgb(0, 255, 0);
}

#backround{
    height:600px;
    width: 100%;
    background-image: url(https://www.wallpapertip.com/wmimgs/167-1677724_technology-website-background-images-hd.jpg);
    background-size: cover;
    display: none;
}

.subtitle {
    color: rgb(0, 202, 121);
    background: linear-gradient(to right, rgb(255, 179, 38), rgba(255, 179, 38, 0), rgba(255, 179, 38, 0), 
    rgba(255, 179, 38, 0), rgba(255, 179, 38, 0), rgba(255, 179, 38, 0));
    font-family:"exo 2";
}

#gradient-image {
    height:400px;
    width: 70vw;
    background: radial-gradient(circle, red, orange, yellow, green, blue);
    background-size: cover;
    border: 6px solid rgb(255, 179, 38);
}

#mountian-image {
    height: 400px;
    width: 40%;
    border: 5px solid rgb(0,0,0);
    padding: 3px;
    margin-left: 550px;
    margin-top: 30px;
    margin-bottom: 30px;
    float: right;
}

.container {
    background: rgba(255, 255, 255, 0);
    height:300px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
}
.container-item {
    background: rgb(46, 139, 27);
    color: white;
    
    border: 3px;
    font-size: 25px;
    text-align: center;
    font-family: "Poppins";
    border: 3px solid;
    border-color:rgb(0, 0, 0);

    line-height: 50px;
    width: 70px;
    margin: 10px;
}

.list-item{
    font-size: 25px;
    text-decoration: underline;
}

.grid-container{
    background: rgb(255, 255, 255);
    height: 400px;

    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows:auto auto;
}
.grid-item{
    font-size: 30px;
    width: 80px;
    font-family: "Poppins";
    text-align: center;
    margin: 8px;
}

#button{
    font-family: "Poppins", sans-serif;
    height: 60px;
    width: 8%;
    padding: 10px 25px;
    background:rgb(116, 153, 255);
    color: white;
    border-radius: 6mm;
    font-size: 23px;
    margin: 20px 10px;
    transition: all .5s ease;
}
#button:hover{
    background: rgb(113, 201, 252);
    padding: 15px 25px;
    transform: translate(50px, 30px);
}

#image-header{
    /* animation-name: animation;
    animation-duration: 4s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite; */

    animation: test-animation 4s ease-in 0s infinite alternate-reverse;
}

@keyframes test-animation {
    0% {background: red;}
    50% {background: yellow;}
    100% {background: green;}
} 

