html, body {
    width: 100%;
    height:100%;
  }
body{
    margin: 0;
    padding:0;
    text-align: center;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 40s ease infinite;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.grid-container{
    background: rgba(32, 32, 32, .7);
    width: 400px;
    padding:40px;
    position: absolute;
    left: 50%;
    border-radius: 4mm;
    transform: translate(-50%, 40%);
    text-align: center;
}

.title{
    color: rgba(69, 131, 182);
    font-family: "libre franklin", sans-serif;
    font-size: 45px;
    text-decoration: underline;
}
.header{
    color: rgb(69, 131, 182);
    font-family: "Miriam Libre", sans-serif;
    font-size: 30px;
}

.input-container{
    background: none;
    justify-content: center;
}
.login-input{
    color: white;
    background: none;
    border:0;
    border-radius: 24mm;
    border: 3px solid rgb(69, 131, 182);
    padding: 16px 30px;
    outline: none;
    transition: all .5s ease;
}
.login-input:focus{
    padding: 16px 40px;
    border-color: rgb(69, 182, 144);
}

#login-button{
    color: white;
    background: rgb(69, 131, 182);;
    border:0;
    border-radius: 24mm;
    padding: 15px 42px;
    transition: all .5s ease;
    outline: none;
    text-decoration:none;
    font-family: "Miriam Libre", sans-serif;
    font-size: 15px;
}
#login-button:hover{
    background: rgb(69, 182, 144);;
}
.text{
    font-family: "Miriam Libre", sans-serif;
    color: grey;
}
